.customer-reviews { margin-top: 75px; margin-bottom: 45px; }

.customer-reviews__paragraph { color: #111; font-family: 'Merriweather'; font-size: 18px; line-height: 27px; }

.customer-reviews__name-label { color: #111; font-family: 'Merriweather'; font-size: 28px; line-height: 40px; }
