.logo {

    &__link-container {

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 8px;
    }

    &__name-label--img {
        height: 36px;
    }
    
    &__name-label {
        color: #B41818;
        font-family: 'Odor Mean Chey';

        font-size: 50px;
        line-height: 70px; 
        font-weight: 400;
        font-style: normal;
        
        text-align: center;
        letter-spacing: -1.5px;
        text-transform: uppercase;

        margin-top: 6px;
    }

    &__img {
        width: 120px;
        height: 120px;
    }

    &__copyright-label {
        margin-bottom: 0px;

        color: #fff;
        font-family: 'Merriweather';
        font-size: 14px;
        line-height: 21px; 
    }
}