.category { width: 90%; height: 100%; display: flex; flex-direction: column; }

.category_notes { justify-content: flex-end; align-items: center; }

.category_account { justify-content: space-between; }
