.left-panel { height: 100%; width: 3%; background-color: #0B0C0C; display: flex; flex-direction: column; justify-content: flex-end; align-items: center; }

.left-panel__container { height: 91%; margin-bottom: 20px; display: flex; flex-direction: column; justify-content: space-between; align-items: center; }

.left-panel__row { display: flex; justify-content: center; align-items: center; }
