.note { border-radius: 12px; background-color: #495057; padding: 12px 25px; width: 100%; }

.note__head { margin-left: 7px; display: flex; flex-direction: row; justify-content: flex-start; align-items: center; gap: 25px; }

.note__emoji { width: 70px; height: 70px; }

.note__meta { font-family: "Trebuchet MS"; color: #ced4da; }

.note__date { line-height: 24px; font-size: 20px; font-weight: bold; }

.note__location { line-height: 22px; font-size: 18px; font-weight: italic; }

.note__main { font-family: 'PT Serif'; font-size: 20px; line-height: 24px; color: #e9eaec; padding: 8px 0px; }
